.flex-idx-admin-message {
    font-size: 1em;
    background: #FFF;
    padding: 1.25em;
}

.flex-idx-admin-message-warning {
    border-top: .5em solid #ffd224;
}

.flex-idx-admin-message-error {
    border-top: .5em solid #d50808;
}

.flex-idx-admin-message-success {
    border-top: .5em solid #188818;
}