.flex-marker {
    color: #fff;
    font-weight: bold;
    background-color: #044;
    padding: 5px;
}

.flex-infowindow {
    background-color:#fff;
    width: 380px;
    height: 150px;
    position:relative;
}

.flex-map-controls-ct {
    width: 35px;
    height: 105px;
    /* margin: 15px 15px 0 0; */
    margin: 10px 10px 0 0;
}

.flex-map-controls-ct > div {
    height: 35px;
    margin-bottom: 4px;
    cursor: pointer;
    background-image: url("../images/ico-map.png");
    background-repeat: no-repeat;
    background-color: #fff;
}

.flex-map-zoomIn {
    background-position: 7px 10px;
}

.flex-map-zoomOut {
    background-position: 7px -32px;
}

.flex-map-draw {
    background-position: 5px -71px;
}

.flex-map-is-drawing {
    background-position: 5px -111px;
}

.flex-map-draw-erase {
    background-position: 5px -182px;
    display: none;
}
