/*----------------------------------------------------------------------------------*/
/* Home
/*----------------------------------------------------------------------------------*/
body,
main{
	background-color: #FFF;
}

##{$prefijo}flex-home-theme{
	.#{$prefijo}gwr{
		width: 100% !important;
	}

	/*----------------------------------------------------------------------------------*/
	/* Sección: Main Slider
	/*----------------------------------------------------------------------------------*/
	.clidxboost-content-slider{
		height: 100vh;
		.clidxboost-slider{
			.clidxboost-wrap-slider{
				>ul{
					>li{
						.clidxboost-item-slider{
							height: 100% !important;
						}
					}
				}
			}

			.clidxboost-nav{
				.clidxboost-bullets{
					button{
						span{
							&:before{
  							background-color: #FFF;
							}
						}
						&.active{
							span{
								&:before{
									background-color: $colorweb;
								}
							}
						}
					}
				}
			}
		}
	}

	##{$prefijo}slider-main{
		height: 100%;
		.clidxboost-nav{
			position: absolute;
			z-index: 4;
			bottom: 12px;
			width: auto;
			padding-left: 23px;
			display: none;
			@media screen and (min-width: 768px){
				display: block;
			}
		}
		.clidxboost-wrap-information {
	    bottom: 5rem;
	  }
	}

	/*----------------------------------------------------------------------------------*/
	/* Sección: Autocomplete Home
	/*----------------------------------------------------------------------------------*/
	##{$prefijo}flex-bubble-search{
		top: auto;
		bottom: 1rem;
		transform: none !important;
		left: 0 !important;
		background-color: transparent;
		width: 100%;
		max-width: 100%;  

		@media screen and (min-width: 768px){
			bottom: 50/16*1rem;
		}

		.#{$prefijo}content-flex-bubble-search{
			width: 100%;
			max-width: 700px;
			height: auto !important;
			margin: 0 auto;

			.#{$prefijo}flex-link {
				font-family: $oswald;
				@media screen and (min-width: 640px){
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
				}
			}
		}

		.#{$prefijo}idx_text_search_bar{
			font-family: $oswald;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

			@media screen and (min-width: 768px){
				font-size: 2rem;
			}
		}

		#clidxboost-btn-search{
			background-color: $colorweb;
			&:after{
				color: #FFF;
			}
		}

		@media screen and (min-width: 640px){
			background-color: transparent;
			#clidxboost-modal-search {
				display: block;
			}
		}
	}

	/*----------------------------------------------------------------------------------*/
	/* Sección: Featured Properties
	/*----------------------------------------------------------------------------------*/
	##{$prefijo}featured-section{
		position: relative;
		text-align: center;
		
		##{$prefijo}wrap-result,
		.#{$prefijo}wrap-result{
			&.#{$prefijo}view-grid,
			&.#{$prefijo}full-map{
				.#{$prefijo}result-search{
					>li{
						.#{$prefijo}view-detail{
							border: 0;
						}
					}
				}
			}
		}
		
		/** Titulo **/
		.#{$prefijo}title-block{
			color: #FFF;
			margin: 0;
			padding: 10/16*1rem 0;
			font-size: 1.375rem !important;
			font-family: $oswald;
			letter-spacing: 0.33px;

			background-color: #333;
			background-color: $colorweb;

			@media screen and (min-width: 680px){
				padding: 1rem;
				text-align: left;
				display: flex;
				align-items: center;
				background-color: #333;
			}
			
			@media screen and (min-width: 1200px){
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 4;
				height: 70px;
				background-color: transparent;
			}
		}

		/** Boton **/
		.clidxboost-btn-link{
			margin-top: 1rem;
			font-family: $oswald;
			span{
				background-color: $colorweb;
				border-color: $colorweb;
				color: #FFF;
				font-size: 1rem;
			}

			&:hover{
				span{
					background-color: #dc3d41;
				}
			}

			@media screen and (min-width: 680px){
				position: absolute;
				top: 0;
				right: 0;
				margin-top: 0;
				height: 64px;
			}

			@media screen and (min-width: 1200px){
				top: auto;
				bottom: 0;
				z-index: 4;
				height: 70px;
			}
		}

		/** Slider (Nav) **/
		.clidxboost-slider{
			.clidxboost-wrap-slider{
				>ul{
					>li{
						padding: 0 !important;
					}
				}
			}
			
			.clidxboost-nav{
				@media screen and (min-width: 680px){
					background-color: #333;
					.clidxboost-bullets{
						height: 70px;
					}
				}

				button{
					span{
						&:before{
							background-color: #ababad;
						}
					}
					&.active{
						span{
							&:before{
								background-color: $colorweb;
							}	
						}
					}
				}

				@media screen and (min-width: 1200px){
					.clidxboost-bullets{
						z-index: 1;
					}			
				}
			}
		}
	}

	##{$prefijo}slider-properties{
		&.clidxboost-slider{
			.clidxboost-nav{
				.clidxboost-next-prev{
					.clidxboost-next,
					.clidxboost-prev {
						background-color: #333;
						transition: all .3s;
						font-family: $oswald;
					}
				}
			}
		}
	}

	/*----------------------------------------------------------------------------------*/
	/* Sección: Blog
	/*----------------------------------------------------------------------------------*/
	##{$prefijo}blog-collection{
		position: relative;
		width: 100%;
		padding: 2rem 1rem;
		text-align: center;
		max-width: 1500px;
		margin: 0 auto;

		@media screen and (min-width: 768px){
			padding: 4rem 1rem;
		}

		.#{$prefijo}title-block{
			margin: 1rem  0;
			font-family: $oswald;
			letter-spacing: 0.33px;
			font-size: 22/16*1rem;
			text-align: center;
			font-weight: 700;

			@media screen and (min-width: 768px){
				font-size: 30/16*1rem;
			}

			&:after{
				display: none;
			}
		}

		##{$prefijo}articles-blog{
			@media screen and (min-width: 640px){
				justify-content: center;
			}

			li{
				border: 1px solid $gris-lineas;
				padding: 10/16*1rem;
				&:hover{
					border-color: $colorweb;
				}

				@media screen and (min-width: 640px){
					border: 1px solid $gris-lineas;
					width: 48%;
					margin-left:1%;
					margin-right:1%;
				}

				@media screen and (min-width: 1024px){
					width: 31%;
					padding: 1rem;
				}

				.#{$prefijo}content-article{
					p{
						text-align: left;
						-moz-text-align-last: left;
						text-align-last: left;
					}
				}
			}
		}

		.clidxboost-btn-link{
			font-family: $oswald;
			letter-spacing: 0.33px;
			margin: 1rem 0;
			font-size: 1rem;
			span {
				background-color: $colorweb;
				border: 1px solid $colorweb;
				color: #FFF;
			}

			&:hover{
				span{
					background-color: #dc3d41;
				}
			}
		}
	}

	/*----------------------------------------------------------------------------------*/
	/* Sección: Slider texto central
	/*----------------------------------------------------------------------------------*/
	##{$prefijo}slider-main{
		.clidxboost-wrap-information{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			bottom: auto;
			text-align: center;
			width: 90%;
			max-width: 630px;
			@media screen and (min-width: 1024px){
				max-width: 720px;
			}

			>h2{
				font-family: $oswald;
				text-transform: uppercase;
				font-size: 24/16*1rem;
				line-height: 1.2;
				margin-bottom: 10/16*1rem;
				@media screen and (min-width: 768px){
					font-size: 33/16*1rem;
				}
				@media screen and (min-width: 991px){
					font-size: 50/16*1rem;
				}
				@media screen and (min-width: 1024px){
					font-size: 62/16*1rem;
				}
			}

			ul{
				li {
					font-family: $oswald;
					font-size: 18/16*1rem;
					font-weight: 600;
					@media screen and (min-width: 768px){
						font-size: 24/16*1rem;
					}

					&:after{
						width: 6px;
						height: 6px;
						right: 4px;
						margin-top: -3px;
						box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);			
					}
				}
			}

			.clidxboost-btn-link{
				display: inline-block;
				width: auto;
				height: 45px;
				line-height: 45px;
				padding: 0 30/16*1rem;
				background-color: $colorweb;
				color: #FFF;
				font-family: $oswald;
				font-size: 1rem;
				text-transform: uppercase;
				margin-top: 1rem;
				min-width: initial;
				border: 1px solid $colorweb;
				transition: all .3s;
				&:hover{
					background-color: #dc3d41;
				}

				@media screen and (min-width: 768px){
					height: 55px;
					line-height: 55px;
					padding: 0 40/16*1rem;
					font-size: 18/16*1rem;
				}
			}
		}
	}

	.clidxboost-slider{
		.clidxboost-wrap-slider{
			>ul{
				>li{
					.clidxboost-wrap-information {
						display: none !important;
					}
					&.active{
						.clidxboost-wrap-information {
							display: block !important;
						}
					}
				}
			}
		}
	}
}

##{$prefijo}next-step{
	background-color: transparent;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 4;
	bottom: 3rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	&:before{
		content: "\e921";
		font-family: $web-icons;
		display: inline-block;
		font-size: 30px;
		color: #FFF;
		margin: 0 auto;
	}
}